<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="casesStyle.css">
    <title>Cases</title>
</head>
<style>
.hide {display: none;}

.openBtn1 {
	display: flex;
	justify-content: left;
}
.openButton {
	border: none;
	border-radius: 5px;
	background-color: #1c87c9;
	color: white;
	padding: 14px 20px;
	cursor: pointer;
	position: fixed;
}
.loginPopup {
	position: relative;
	text-align: center;
	width: 100%;
}
.formPopup {
	display: none;
	position: fixed;
	left: 75%;
	top: 60%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	z-index: 9;
}

.formPopup1 {
	display: none;
	position: fixed;
	left: 42%;
	top: 18%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	z-index: 9;
}
</style>
<body>
    <div class="grid">
        <header class="header">
          <i class="fas fa-bars header__menu"></i>
          <div class="header__search">
            <input class="header__input" placeholder="Search..." />
          </div>
          <div class="header__avatar">
            <div class="dropdown">
              <ul class="dropdown__list">
                <li class="dropdown__list-item">
                  <span class="dropdown__icon"><i class="far fa-user"></i></span>
                  <a href="profile.html"><span class="dropdown__title">My Profile</span></a>
                </li>
                <!-- <li class="dropdown__list-item">
                  <span class="dropdown__icon"><i class="fas fa-clipboard-list"></i></span>
                  <span class="dropdown__title">my account</span>
                </li> -->
                <li class="dropdown__list-item">
                  <span class="dropdown__icon"><i class="fas fa-sign-out-alt"></i></span>
                  <a href="https://penguindocketing.webflow.io/"><span class="dropdown__title">Log out</span></a>
                </li>
              </ul>
            </div>
          </div>
        </header>



                <aside class="sidenav">
                  <div class="sidenav__brand">
                    <i class="fas fa-feather-alt sidenav__brand-icon"></i>
                    <a class="sidenav__brand-link" href="dashboard">PDS LLC<span class="text-light"></span></a>
                    <i class="fas fa-times sidenav__brand-close"></i>
                  </div>
                  <div class="sidenav__profile">
                    <div class="sidenav__profile-avatar"></div>
                    <div class="sidenav__profile-title text-light"><%=user%></div>
                  </div>
                  <div class="row row--align-v-center row--align-h-center">
                    <ul class="navList">
                      <li class="navList__heading">Dashboard<i class="far fa-file-alt"></i></li>
                        <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-briefcase-medical"></i></span>
                          <span href = 'cases' class="navList__subheading-title">Cases</span>
                        </div>

                        <ul class="subList subList--hidden">
        <a href ='/cases'>
                          <li href ='/cases' class="subList__item">Cases</li>
                           </a>
                        </ul>
                      </li>
                      <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-plane-departure"></i></span>
                          <span class="navList__subheading-title">USPTO Status</span>
                        </div>
                        <ul class="subList subList--hidden">
                          <a href ='/applications'>
                          <li class="subList__item">Active</li>
                        </a>
                        <!-- <a href ='/applications'>
                          <li class="subList__item">Completed</li>
                        </a> -->
                          <!-- <li class="subList__item">Received</li> -->
                        </ul>
                      </li>
                      <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="far fa-angry"></i></span>
                          <span class="navList__subheading-title">Case Reminders</span>
                        </div>
                        <ul class="subList subList--hidden">
                          <a href ='/notifications'>
                          <li class="subList__item">Reminders</li>
                        </a>

                        </ul>
                      </li>

                      <!-- <li class="navList__heading">Communication<i class="far fa-envelope"></i></li>
                      <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-envelope"></i></span>
                          <span class="navList__subheading-title">Email</span>
                        </div>
                        <ul class="subList subList--hidden">
                          <li class="subList__item" style="font-size: 15px;">accountOne@gmail.com</li>
                          <li class="subList__item" style="font-size: 15px;">accountTwo@gmail.com</li>
                          <!-- <li class="subList__item">Add</li> -->
                        <!-- </ul>
                      </li> -->
                      <!-- <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-eye"></i></span>
                          <span class="navList__subheading-title">Slack</span>
                        </div> -->
                        <!-- <ul class="subList subList--hidden">
                          <li class="subList__item">Add</li>
                          <li class="subList__item">Add</li>
                          <li class="subList__item">Add</li>
                        </ul> -->
                      <!-- </li> -->
                       <!-- <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-book-open"></i></span>
                          <span class="navList__subheading-title">&#43;</span>
                        </div>
                        <!-- <ul class="subList subList--hidden">
                          <li class="subList__item">Add</li>
                          <li class="subList__item">Add</li>
                          <li class="subList__item">Add</li>
                        </ul> -->
                      <!-- </li> -->

                      <li class="navList__heading">Timeline<i class="far fa-image"></i></li>
                      <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-mountain"></i></span>
                          <span class="navList__subheading-title">Timeline</span>
                        </div>
                        <ul class="subList subList--hidden">
                          <a href="/applications">
                          <li class="subList__item">Timeline</li>
                        </a>
                        </ul>
                      </li>
                      <!-- <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-wine-glass-alt"></i></span>
                          <span class="navList__subheading-title">Completed</span>
                        </div>
                        <ul class="subList subList--hidden">
                          <li class="subList__item">View Full list</li>
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                        </ul>
                      </li> -->
                      <!-- <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-graduation-cap"></i></span>
                          <span class="navList__subheading-title">What needs to be done?</span>
                        </div>
                        <ul class="subList subList--hidden">
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                        </ul>
                      </li> -->

                      <!-- <li class="navList__heading">Notifications<i class="fas fa-chart-bar"></i></li>
                      <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-credit-card"></i></span>
                          <span class="navList__subheading-title"></span>
                        </div>
                        <ul class="subList subList--hidden">
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                        </ul>
                      </li> -->
                      <!-- <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-phone"></i></span>
                          <span class="navList__subheading-title">New Applications</span>
                        </div>
                        <ul class="subList subList--hidden">
                          <li class="subList__item"></li>
                          <li class="subList__item">See new applications</li>
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                        </ul>
                      </li> -->
                      <!-- <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-plane"></i></span>
                          <span class="navList__subheading-title">Document Editor</span>
                        </div>
                        <ul class="subList subList--hidden">
                          <li class="subList__item">Editor Home</li>
                          <li class="subList__item">Create New Document</li>
                          <li class="subList__item">Edit Document</li>
                          <li class="subList__item">Add/Delete</li>
                        </ul>
                      </li> -->

                      <!-- <li class="navList__heading">USPTO Status<i class="fas fa-calendar-alt"></i></li>
                      <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-wine-glass-alt"></i></span>
                          <span class="navList__subheading-title">Current Submissions</span>
                        </div>
                        <!-- <ul class="subList subList--hidden">
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                        </ul> -->
                      <!-- </li> -->
                      <!-- <li>
                        <div class="navList__subheading row row--align-v-center">
                          <span class="navList__subheading-icon"><i class="fas fa-school"></i></span>
                          <span class="navList__subheading-title">Previous Submissions</span>
                        </div>
                        <!-- <ul class="subList subList--hidden">
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                          <li class="subList__item">Add/Delete</li>
                        </ul> -->
                      <!-- </li> -->
                      <!-- <li>
                          <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"><i class="fas fa-users"></i></span>
                            <span class="navList__subheading-title">Status/Responses</span>
                          </div>
                          <ul class="subList subList--hidden">
                            <li class="subList__item">Add/Delete</li>
                            <li class="subList__item">Add/Delete</li>
                            <li class="subList__item">Add/Delete</li>
                            <li class="subList__item">Add/Delete</li>
                          </ul>
                        </li> -->
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading"><i class="fas fa-calendar-alt"></i></li>
                        <li class="navList__heading">Help • Contact<i class="fas fa-calendar-alt"></i></li>
                        <li>
                          <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"><i class="fas fa-wine-glass-alt"></i></span>
                            <span class="navList__subheading-title">Contact</span>
                          </div>
                          <!-- <ul class="subList subList--hidden">
                            <li class="subList__item">Add/Delete</li>
                            <li class="subList__item">Add/Delete</li>
                            <li class="subList__item">Add/Delete</li>
                          </ul> -->
                        </li>
                        <li>
                          <div class="navList__subheading row row--align-v-center">
                            <span class="navList__subheading-icon"><i class="fas fa-school"></i></span>
                            <span class="navList__subheading-title">Support</span>
                          </div>
                          <!-- <ul class="subList subList--hidden">
                            <li class="subList__item">Add/Delete</li>
                            <li class="subList__item">Add/Delete</li>
                            <li class="subList__item">Add/Delete</li>
                          </ul> -->
                        </li>


                    </ul>
                  </div>
                </aside>
        <main class="main">
          <div class="main-header">
            <div class="main-header__intro-wrapper">
              <div class="main-header__welcome">
                <div class="main-header__welcome-title text-light"><strong>Cases</strong></div>
                <!-- <div class="main-header__welcome-subtitle text-light">How are you today?</div> -->
              </div>
            </div>
          </div>

          <div class="main-overview">
            <div class="openBtn1">
              <button class="openButton" onclick="openForm1()"><strong>Add Case</strong></button>
            </div>
            <div class="loginPopup">
              <div class="formPopup1" style="background-color:white" id="popupForm1">
             <form  style="background-color:white" method="POST" action="/createCase" enctype="multipart/form-data">
               <p><input type="text" name = 'caseName' size="30" placeholder="Application Name" required/></p>
               <p><input type="text" name = 'clientName' size="30" placeholder="Client Name" required/></p>
               <p><input type="text" name = 'clientInfo' size="30" placeholder="Client Information" required/></p>
               <p><input type="text" name = 'description' size="30" placeholder="Description" required/></p>
               <button type="submit" class="openBtn1">Submit</button>
               <button type="button" class="openBtn1 cancel" onclick="closeForm1()">Close</button>
             </form>
            </div>
          </div>

            <% if (data.length == 0){ %>
              <form id="search" method="post" action="/appDB_Senton">

                <a onclick="document.getElementById('search').submit();"><i class="fa fa-search"></i>

            <div class="overviewCard">
              <div class="overviewCard-icon overviewCard-icon--document">
                 <i class="far fa-file-alt"></i>
              </div>
              <div class="overviewCard-description">
                <h3 class="overviewCard-title text-light">No Cases </h3>
                <!-- <p class="overviewCard-subtitle">Updated 3/20</p> -->
              </div>
            </div>
            </form>
            <%}%>
            <% if (data.length > 0){ for(var i=0; i<data.length; i++) { %>
              <form id="search<%=i%>" method="post" action="/appDB_Senton">

                <a onclick="document.getElementById('search<%=i%>').submit();"><i class="fa fa-search"></i>
            <div class="overviewCard">
              <div class="overviewCard-icon overviewCard-icon--document">
                 <i class="far fa-file-alt"></i>
              </div>
              <div class="overviewCard-description">
                <h3 class="overviewCard-title text-light">Case: <strong><%=data[i].case_name%></strong></h3>
                 <p class="overviewCard-subtitle">Client: <%=data[i].client_name%></p>
                 <input type="text" style="visibility:hidden;" name="case_name" value="<%=data[i].case_name%>"/>

              </div>
            </div>
          </form>
            <%}}%>
<br><br><br>



          </div>

        </main>

        <footer class="footer">
          <p><span class="footer__copyright">&copy;</span> 2020 PDS</p>
        </footer>
        <script>
        function openForm1() {
          document.getElementById("popupForm1").style.display = "block";
        }
        function closeForm1() {
          document.getElementById("popupForm1").style.display = "none";
        }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            /* Scripts for css grid dashboard */

      $(document).ready(() => {
        addResizeListeners();
        setSidenavListeners();
        setUserDropdownListener();
        setMenuClickListener();
        setSidenavCloseListener();
      });

      // Set constants and grab needed elements
      const sidenavEl = $('.sidenav');
      const gridEl = $('.grid');
      const SIDENAV_ACTIVE_CLASS = 'sidenav--active';
      const GRID_NO_SCROLL_CLASS = 'grid--noscroll';

      function toggleClass(el, className) {
        if (el.hasClass(className)) {
          el.removeClass(className);
        } else {
          el.addClass(className);
        }
      }

      // User avatar dropdown functionality
      function setUserDropdownListener() {
        const userAvatar = $('.header__avatar');

        userAvatar.on('click', function(e) {
          const dropdown = $(this).children('.dropdown');
          toggleClass(dropdown, 'dropdown--active');
        });
      }

      // Sidenav list sliding functionality
      function setSidenavListeners() {
        const subHeadings = $('.navList__subheading'); console.log('subHeadings: ', subHeadings);
        const SUBHEADING_OPEN_CLASS = 'navList__subheading--open';
        const SUBLIST_HIDDEN_CLASS = 'subList--hidden';

        subHeadings.each((i, subHeadingEl) => {
          $(subHeadingEl).on('click', (e) => {
            const subListEl = $(subHeadingEl).siblings();

            // Add/remove selected styles to list category heading
            if (subHeadingEl) {
              toggleClass($(subHeadingEl), SUBHEADING_OPEN_CLASS);
            }

            // Reveal/hide the sublist
            if (subListEl && subListEl.length === 1) {
              toggleClass($(subListEl), SUBLIST_HIDDEN_CLASS);
            }
          });
        });
      }

      function toggleClass(el, className) {
        if (el.hasClass(className)) {
          el.removeClass(className);
        } else {
          el.addClass(className);
        }
      }

      // If user opens the menu and then expands the viewport from mobile size without closing the menu,
      // make sure scrolling is enabled again and that sidenav active class is removed
      function addResizeListeners() {
        $(window).resize(function(e) {
          const width = window.innerWidth; console.log('width: ', width);

          if (width > 750) {
            sidenavEl.removeClass(SIDENAV_ACTIVE_CLASS);
            gridEl.removeClass(GRID_NO_SCROLL_CLASS);
          }
        });
      }

      // Menu open sidenav icon, shown only on mobile
      function setMenuClickListener() {
        $('.header__menu').on('click', function(e) { console.log('clicked menu icon');
          toggleClass(sidenavEl, SIDENAV_ACTIVE_CLASS);
          toggleClass(gridEl, GRID_NO_SCROLL_CLASS);
        });
      }

      // Sidenav close icon
      function setSidenavCloseListener() {
        $('.sidenav__brand-close').on('click', function(e) {
          toggleClass(sidenavEl, SIDENAV_ACTIVE_CLASS);
          toggleClass(gridEl, GRID_NO_SCROLL_CLASS);
        });
      }

        </script>
      </div>
</body>
</html>
